@model EmailTicketViewModel

@{
  Layout = "_EmailLayoutHtml";
  ViewContext.ViewData["EmailTitle"] = "Great Success! Your ticket is here!";
}

<p>Hello, @Model.UserName!</p>
<p>Thank you for purchasing a ticket to @Model.EventName</p>
<p>Your order id is: @Model.OrderId</p>
<p>Your recent order includes the seating of space: @foreach (var s in  @Model.SeatsReserved)
                                                    { <li>@s</li> }</p>
<p>Show this QR Code to staff in order to verify your seats 
    <img src="@Model.ImageLink"/>
  </p>

<p>Betauia</p>